.skeleton {
  max-width: 1200px;
  margin: 20px auto;
}
.skeleton > div {
  background: #dbcc1a;
  border-radius: 4px;
  margin: 20px 0;
}
.sBanner {
  padding: 12% 0;
}
.sHeader {
  padding: 15px 0;
  max-width: 500px;
}
.sContent {
  padding: 8px 0;
  max-width: 1000px;
}
