.slug h2,
.slug h3 {
  text-transform: uppercase;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.banner h2 {
  margin: 0;
  background: #fff;
  display: inline-block;
  padding: 20px;
  position: relative;
  top: -30px;
  left: -10px;
  transform: rotateZ(-1deg);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.info p {
  margin: 0;
}
